<h1>Account Management</h1>

<p *ngIf="!userAccounts"><em>Loading...</em></p>

<table class='table' *ngIf="userAccounts">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Dealer</th>
            <th>Market</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userAccount of userAccounts">
            <td>{{ userAccount.firstName }}</td>
            <td>{{ userAccount.lastName }}</td>
            <td>{{ userAccount.userName }}</td>
            <td>{{ userAccount.role }}</td>
            <td>{{ userAccount.dealer }}</td>
            <td>{{ userAccount.market }}</td>
            <td>{{ userAccount.createdDate }}</td>
        </tr>
    </tbody>
</table>
