<div class='navbar-header'>

    <a class='navbar-brand' [routerLink]="['/home']"><img src="assets/images/MobileSP-LOGO-Landscape.png" class="header-logo"/></a>
    <div class="header-content">
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <span class="header-text">
            <img src="assets/images/header-div.png"/>
            MICROLEARNING CMS
        </span>
        <div class="nav-top-menu">
            <div class="nav-top-menu-item">
                <a [routerLink]="['/useraccountmanagement']">
                    Accounts
                </a>
            </div>
            <div class="nav-top-menu-item">
                <a href="/account/logout"> Log out</a>
                <img src="assets/images/logout.png"/>
            </div>
        </div>
    </div>
</div>

<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" class="nav-border-bottom">
                    <a [routerLink]="['/home']">
                        DASHBOARD
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/feed']">
                        CATEGORIES
                    </a>
                    <ul class='nav navbar-nav sub-nav'>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/test']">
                                Learning
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/campaign']">
                                Campaign
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/news']">
                                News
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/announcement']">
                                Announcement
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/quiz']">
                                Quiz
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']">
                            <a [routerLink]="['/Survey']">
                                Survey
                            </a>
                        </li>
                    </ul>
                </li>
                <li [routerLinkActive]="['link-active']" class="nav-border-bottom nav-border-top">
                    <a [routerLink]="['/media']">
                        MEDIA
                    </a>
                </li>
            </ul>
            <ul class='nav navbar-nav left-menu-compact'>
                <li [routerLinkActive]="['link-active']" class="nav-border-bottom">
                    <a [routerLink]="['/useraccountmanagement']">
                        Accounts
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="nav-border-bottom logout-left">
                    <a href="/account/logout">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
