li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 100%;
}

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-nav, .navbar-inverse {
    min-height: 0;
    margin-bottom: 0;
}

.main-nav, .navbar-header {
    border-color: #080808;
    background-color: #222;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (max-width: 768px) {
    .nav-top-menu, .nav-top-menu-item {
        display: none;
    }
}

.nav-top-menu {
    position: fixed;
    left:calc(25% - 20px);
}
.nav-top-menu-item {
    padding: 15px;
    margin: 0;
}
.navbar-header a {
    color: #41c789;
}
.nav-top-menu-item a:hover {
    color: #fff;
}
 .nav-top-menu-item a{
     color: #9d9d9d;
}

.nav-top-menu-item a:hover, .nav-top-menu-item a:active {
    text-decoration: none;
}
.nav-top-menu .nav-top-menu-item {
    width: 150px;
}

.navbar li.link-active a {
    border-radius: 0;
    background-color: #41c789
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav, .navbar-brand {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar-brand {
        text-align: center;
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
        height: 100%!important;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .navbar-inverse {
        border-color: transparent;
        background-color: transparent;
    }

    .logout-left {
        display: none;
    }

    .logout-top {
        float: right;
        margin-right: 20px;
    }
}
