<div *ngIf="!feedFormData">
    
    <a (click)="editFeedItem()" class="btn-floating btn-large waves-effect waves-light btn-add-feed-item">
        <i class="material-icons">add</i>
    </a>

    <div>
        <div class="col-md-12">
            <div class="col-md-8 feed-index-type-container">
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/feed']" class="feed-cat-index">
                        All
                    </a>
                </span>
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/', feedCats.Announcement, 'feed']" class="feed-cat-index">
                        Announcement
                    </a>
                </span>
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/', feedCats.Article, 'feed']" class="feed-cat-index">
                        Article
                    </a>
                </span>
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/', feedCats.Campaign, 'feed']" class="feed-cat-index">
                        Campaign
                    </a>
                </span>
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/', feedCats.Learning, 'feed']" class="feed-cat-index">
                        Learning
                    </a>
                </span>
                <span [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/', feedCats.News, 'feed']" class="feed-cat-index">
                        News
                    </a>
                </span>             
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12">
                <hr class="col-md-11 col-md-offset-1" />
            </div>
        </div>
        
        <div class="col-md-12" *ngIf="!this.feedItems">
            <div class="col-md-12">
                <div class="col-md-11 col-md-offset-1">
                    <em>Loading feed...</em>
                </div>
            </div>
        </div>
        
        <div *ngIf="this.feedItems">
            <div class="col-md-12" *ngIf="this.feedItems.length === 0">
                <div class="col-md-11 col-md-offset-1">
                    <em>No items to display.</em>
                </div>
            </div>

            <div class='feed-index col-md-12' *ngIf="this.feedItems.length > 0">
                <div *ngFor="let feedItem of this.feedItems | paginate: {itemsPerPage: 20, currentPage:page, id: '1'}" class="col-md-12 index-feed-item">
                    <div class="col-md-1">
                        <img src="assets/images/Icon-{{feedCats[feedItem.feedCategory]}}-b.png" class="feed-cat-img" *ngIf="feedItem.feedType!=feedTypes.Observation" />
                        <img src="assets/images/Icon-Observation-b.png" class="feed-cat-img" *ngIf="feedItem.feedType==feedTypes.Observation" />
                    </div>
                    <div class="col-md-11 no-pad">
                        <div class="col-md-8 no-pad">
                            <div class="col-md-12 feed-item-title">
                                <h5>
                                    {{ feedItem.title }}
                                </h5>
                            </div>
                            <div class="col-md-12 feed-item-markets">
                                <div *ngIf="feedItem.markets">
                                    {{ feedItem.title }}
                                </div>
                            </div>
                            <div class="col-md-12 feed-item-dates">
                                <div *ngIf="feedItem.publishedLiveAt" class="col-md-4 no-pad date-posted">
                                    Date posted: {{ feedItem.publishedLiveAt | date:'short' }}
                                </div>

                                <div *ngIf="feedItem.updatedAt && feedItem.updatedAt!==feedItem.createdAt" class="col-md-4 no-pad">
                                    Date modified: {{ feedItem.updatedAt | date:'short' }}
                                </div>

                                <div class="col-md-4 no-pad">
                                    Date created: {{ feedItem.createdAt | date:'short' }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 feed-index-controls">
                            <div class="feed-control col-md-3">
                                <div>
                                    <a (click)="editFeedItem(feedItem)">
                                        <i class="material-icons">edit</i>
                                        <p>Edit</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-md-3">
                                <div>
                                    <a (click)="deleteFeeditem(feedItem)">
                                        <i class="material-icons">delete</i>
                                        <p>Delete</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-md-3">
                                <div>
                                    <a onclick="alert('Feature coming soon.');">
                                        <i class="material-icons">smartphone</i>
                                        <p>Preview</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-md-3" *ngIf="currentMarket && currentMarket.isMaster">
                                <div>
                                    <a (click)="copyFeedItemToMarket(feedItem)" data-toggle="modal" data-target="#feeditem-copytomarket">
                                        <i class="material-icons">content_copy</i>
                                        <p>Copy</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-md-3" *ngIf="!feedItem.postedAt && !(currentMarket && currentMarket.isMaster)">
                                <div>
                                    <a (click)="publishFeedItemTolive(feedItem)">
                                        <i class="material-icons">launch</i>
                                        <p>Publish</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <pagination-controls (pageChange)="page = $event" id="1"
                                 maxSize="20"
                                 directionLinks="true"
                                 autoHide="true">
            </pagination-controls>
        </div>
        

    </div>
</div>

<div *ngIf="feedFormData">
    <feed-form-component [feedFormData]="feedFormData"></feed-form-component>
</div>

<base-modal [modalData]="modalData" [modalId]="'feeditem-copytomarket'" [modalHeader]="'Copy to market'" [modalDescription]="''" (modelClosed)="updateFeedItem($event)"></base-modal>