<div class="dp_content">

  <div class="inputRow">
    <div class="fakeInput" (click)="show = !show">
      <div class="input">
        {{initialDate | date:'dd/MM/y'}}
      </div>
      <div class="icon">
        <i class="material-icons">today</i>
      </div>
    </div>
  </div>
  <div class="showCalendar" *ngIf="show">
    <div class="monthSelector">
      <div class="chMS" (click)="prevMonth()"><i class="material-icons">chevron_left</i></div>
      <div class="txtMS">{{shortMonths[selectedMonth]}} {{selectedYear}}</div>
      <div class="chMS"(click)="nextMonth()"><i class="material-icons">chevron_right</i></div>
    </div>
    <div class="weekDays">
      <div class="sdayTop">M</div>
      <div class="sdayTop">T</div>
      <div class="sdayTop">W</div>
      <div class="sdayTop">T</div>
      <div class="sdayTop">F</div>
      <div class="sdayTop">S</div>
      <div class="sdayTop">S</div>
    </div>
    <div class="daysItSelf">
      <div class="sday" *ngFor="let item of pastDays; let i = index"></div>
      <div class="sday dayNonToday" [ngClass]="
                {
                    dayInThePast : checkPastDay(j+1)
                }"
           *ngFor="let item of dummyArrayGenerator(lastDayOfMonth(selectedMonth + 1,selectedYear));
                let j = index"
           (click)="select(j+1,selectedMonth,selectedYear)">{{j+1}}
      </div>
    </div>
  </div>

  <!--
  <div [ngClass]="{content : !monthSelector, contentMonthSelectorOpen: (monthSelector && show),contentMonthSelectorClosed: (monthSelector && !show) }">
    <div *ngIf="monthSelector" class="monthSelector" (click)="show = !show; resetSelection();">
      <div><i class="material-icons">today</i></div><div class="txt">{{shortMonths[selectedMonth]}} {{selectedYear}}</div><div><i class="material-icons">arrow_drop_down</i></div>
    </div>
    <div *ngIf="!monthSelector || (monthSelector && show)" class="monthTitle"><div class="sbChevron sbLeftCal" (click)="prevMonth()"><i class="material-icons">chevron_left</i></div>{{shortMonths[selectedMonth]}} {{selectedYear}}<div class="sbChevron sbRightCal" (click)="nextMonth()"><i class="material-icons">chevron_right</i></div></div>
    <div *ngIf="!monthSelector || (monthSelector && show)"class="calendarTop">
      <div class="sdayTop">M</div>
      <div class="sdayTop">T</div>
      <div class="sdayTop">W</div>
      <div class="sdayTop">T</div>
      <div class="sdayTop">F</div>
      <div class="sdayTop">S</div>
      <div class="sdayTop">S</div>
      <div *ngIf="showClose" class="closeCalendarTop"><i (click)="close.emit()" class="material-icons">mdi_close</i></div>
    </div>
    <div *ngIf="!monthSelector || (monthSelector && show)"class="months">
      <div class="month">
        <div class="sday" *ngFor="let item of pastDays; let i = index"></div>
        <div class="sday dayNonToday" [ngClass]="
                {
                    dayInThePast : checkPastDay(j+1)
                }"
             *ngFor="let item of dummyArrayGenerator(lastDayOfMonth(selectedMonth + 1,selectedYear));
                let j = index"
             (click)="select(j+1,selectedMonth,selectedYear)"
        >{{j+1}}</div>
      </div>
    </div>
  </div>
  -->
</div>
