//$fullWidth: 660px;
$height : 50px;
$textHeight : $height - 30px;
$circleWidth : $height - $textHeight -4;
$optionWidth: 165px;
.navBarContents{
    //width: $fullWidth;
    height: $height ;
    font-size: 14px;
    padding-left: 35px;
      position: relative;
      margin-top: -12px;
  .option {
      width: $optionWidth;
      display: inline-block;
    }
  .text {
    padding-right: 20px;
    margin-top : 10px;
    cursor: pointer;
  }
  .selected .main-text {
    font-weight: 600;
  }
  .main-text {
    cursor: pointer;
  }
  .selected .additionalText {
    font-weight: 400;
  }
  .additionalText{
    font-weight: lighter;
  }
  .notSelected {
    background: #eeeef0;
  }
}
.border-top{
      border-top: 4px solid #D8DEDC;
      display: inline-block;
      width: 35%;
}
.selected .border-top{
      border-color: #01A8DC;
}
.form-navbar  {
    height: 50px;
    padding: 0 15px;
    vertical-align: middle;
    margin-bottom: 40px;
    position:absolute;
    top: 100px;
    left:3px;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #D8DEDC;
    border-bottom:2px solid #D8DEDC;
}
.form-navbar  a {
    text-decoration: none;
}
.form-navbar  span {
    cursor: pointer;
	display: inline-block;
    text-align: center;
}
.bottom-pad {
	height: 50px;
	width: 100%;
}