<div class="filter-col">
    <div *ngIf="renderTextSearch" class="search-filter">
        <input placeholder="Search" type="search" [(ngModel)]="criteria.searchString" (ngModelChange)="broadcastChanges()"/>
        <div class="clearfix"></div>
    </div>
    <div class="filter-container">
        <div class="filter-header filter-block">
            <p>Refine by: <a class="right" (click)="clearFilters();broadcastChanges();">Clear all</a>
            </p>
        </div>
        <div class="filter-block" *ngIf="renderUserGroupFilter">
            <p>Role <a class="right" (click)="clearUserFilters();broadcastChanges();">Clear</a>
            </p>
            <div class="loader" *ngIf="!this.criteria.allUserGroupFilters"></div>
            <div *ngIf="this.criteria.allUserGroupFilters" class="animate-bottom">
                <div *ngFor="let userGroup of this.criteria.allUserGroupFilters">
                    <input type="checkbox" id="{{userGroup.id}}" [(ngModel)]="userGroup.checked" (click)="broadcastChanges()"><label [attr.for]="userGroup.id">{{userGroup.text}}</label>
                </div>
            </div>
        </div>
        <div class="filter-block" *ngIf="renderDealershipFilter">
            <p>Dealership <a class="right" (click)="clearDealerFilters();broadcastChanges();">Clear</a>
            </p>
            <div class="filter-block">
                <div class="loader" *ngIf="!this.criteria.allDealershipFilters"></div>
                <div *ngIf="this.criteria.allDealershipFilters" class="animate-bottom">
                    <div *ngFor="let dealer of this.criteria.allDealershipFilters">
                        <input type="checkbox" id="{{dealer.id}}" [(ngModel)]="dealer.checked" (click)="broadcastChanges()"><label [attr.for]="dealer.id">{{dealer.text}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-block" *ngIf="renderZoneFilter">
            <p>Zone <a class="right" (click)="clearZoneFilters();broadcastChanges();">Clear</a>
            </p>
            <div class="filter-block">
                <div class="loader" *ngIf="!this.criteria.allZoneFilters"></div>
                <div *ngIf="this.criteria.allZoneFilters" class="animate-bottom">
                    <div *ngFor="let zone of this.criteria.allZoneFilters">
                        <input type="checkbox" id="{{zone.id}}" [(ngModel)]="zone.checked" (click)="broadcastChanges()"><label [attr.for]="zone.id">{{zone.text}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-block" *ngIf="renderRegionFilter">
            <p>Region <a class="right" (click)="clearRegionFilters();broadcastChanges();">Clear</a>
            </p>
            <div class="filter-block">
                <div class="loader" *ngIf="!this.criteria.allRegionFilters"></div>
                <div *ngIf="this.criteria.allRegionFilters" class="animate-bottom">
                    <div *ngFor="let region of this.criteria.allRegionFilters">
                        <input type="checkbox" id="{{region.id}}" [(ngModel)]="region.checked" (click)="broadcastChanges()"><label [attr.for]="region.id">{{region.text}}</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="filter-block" *ngIf="renderPointRange">
            <p>Range <a class="right" (click)="resetRange();broadcastChanges();">Reset</a>
            </p>
            <div id="scoreRange"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
