<div [formGroup]="form" *ngIf="model && form" class="branding-element">
  <div [formGroupName]="index">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="order">
    <input type="hidden" formControlName="groupName">
    <input type="hidden" formControlName="primaryImageId">
    <input type="hidden" formControlName="secondaryImageId">

	  <colourpicker *ngIf="model.brandingElementType == brandingElementType.Colour"
					[disabled]="disabled"
	                [form]="form.controls[index]" [formSubmitted]="submitted"
	                [elementId]="'value'"
	                [formControlId]="'value'"
	                [label]="model.description"
	                [validationMessage]="'Please select a colour.'"></colourpicker>
	  <enhancedtextarea *ngIf="model.brandingElementType != brandingElementType.Colour"
	                    [disabled]="disabled"
	                [form]="form.controls[index]" [formSubmitted]="submitted"
	                [elementId]="'value'"
	                [formControlId]="'value'"
	                [label]="model.description"
	                [validationMessage]="'Please select a colour.'"></enhancedtextarea>

  </div>
</div>