<formnavbar *ngIf="navbarData" [data]="navbarData" (optionSelected)="updateCurrentStep($event);"></formnavbar>

<form [formGroup]="form" *ngIf="model && form" (ngSubmit)="save(form.value, form.valid)">
	<form-buttons [cancelId]="reward-scheme-form__btn-cancel" [saveId]="reward-scheme-form__btn-save" [loading]="loading" (goBack)="goBack()"></form-buttons>
	<input type="hidden" formControlName="id">

	<div class="form-tab" [class.visible]="currentStep==='description'">
		<div class="reward-scheme-title">
			<enhancedtextarea [form]="form" [formSubmitted]="submitted"
							  [elementId]="'title'"
							  [formControlId]="'title'"
							  [label]="'Enter Title'"
							  [validationMessage]="'Title is required.'"
			                  [maxLength]="160"
			                  [placeHolder]="'Type title here'"></enhancedtextarea>			
		</div>

		
		<div class="col-md-7 condition-builder">
			<p class="reward-scheme-header">Condition Builder</p>
			<div formArrayName="items" *ngIf="form.controls.items">
				<div *ngFor="let item of form.controls['items'].controls; let i=index" [formGroupName]="i" class="condition">
					<input type="hidden" formControlName="id">
					<input type="hidden" formControlName="enabled">
					<input type="hidden" formControlName="published">
					<input type="hidden" formControlName="positionXBoosterRewardSchemeId">

					<div class="col-md-5 no-pad">
						<p>Position Rank</p>
						<div class="col-md-6 no-pad">
							<numbertextinput [form]="item" [formSubmitted]="submitted"
							                 [elementId]="'item-' + i + '-start-position'"
							                 [formControlId]="'startPosition'"
							                 [validationMessage]="'Start position is required.'"
											 [placeHolder]="'(min)'"></numbertextinput>
						</div>
						<div class="col-md-6">
							<numbertextinput [form]="item" [formSubmitted]="submitted"
							                 [elementId]="'item-' + i + '-end-position'"
							                 [formControlId]="'endPosition'"
							                 [validationMessage]="'End position is required.'"
							                 [placeHolder]="'(max)'"></numbertextinput>
						</div>
					</div>
					<div class="col-md-5">
						<p>XBooster</p>
						<numbertextinput [form]="item" [formSubmitted]="submitted"
						                 [elementId]="'item-' + i + '-x-booster'"
						                 [formControlId]="'xBooster'"
						                 [validationMessage]="'Booster is required.'"></numbertextinput>
					</div>
					<div class="col-md-1 condition-btn-container">
						<a (click)="addCondition()" *ngIf="i === form.controls.items.length-1" class="condition-btn btn-add" id="btn-add-condition"><i class="material-icons">add</i></a>
					</div>
					<div class="col-md-1 condition-btn-container">
						<a (click)="removeCondition(i)" *ngIf="form.controls.items.length > 1" class="condition-btn btn-remove" id="btn-remove-condition-{{i}}"><i class="material-icons">clear</i></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-md-5">
			<p class="reward-scheme-header">About This Reward Scheme (Optional)</p>
			
			<enhancedtextarea [form]="form" [formSubmitted]="submitted"
			                  [elementId]="'about'"
			                  [formControlId]="'about'"
			                  [maxLength]=""></enhancedtextarea>
		</div>
		<div class="clearfix"></div>
	</div>

</form>