.body-content {}

.ng2-pagination li a {cursor:pointer;}

.right {float:right;}

.modal .modal-footer .close-modal{
    background-color: #808080;
    border-color: #808080;
}

.modal .modal-footer .close-modal:hover,
.modal .modal-footer .close-modal:active,
.modal .modal-footer .close-modal:focus{
    background-color: #686868;
    border-color: #686868;
}

input:not([type]):not([readonly]):focus, input[type=text]:not([readonly]):focus, input[type=password]:not([readonly]):focus,
    input[type=email]:not([readonly]):focus, input[type=url]:not([readonly]):focus, input[type=time]:not([readonly]):focus, 
    input[type=date]:not([readonly]):focus, input[type=datetime]:not([readonly]):focus, input[type=datetime-local]:not([readonly]):focus, 
    input[type=tel]:not([readonly]):focus, input[type=number]:not([readonly]):focus, input[type=search]:not([readonly]):focus, 
    textarea:not([readonly]).materialize-textarea:focus{
    border-color: #4F3A9F;
}



/* Dropdown Button */
.dropbtn {
    background-color: #4F3A9F;
    color: #f9f9f9;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

div, span, ul, li, h1, h2, h3, h4, h5, p {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    cursor: default;
}
.material-icons, a {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 40px;
    height: auto;
    background-color: #000;
    color: #eee;
    padding: 0 10px;
    text-align: center;
}

.btn, .btn-large, .btn-flat {
    text-transform: none!important;
}