.branding-element {
	background-color: #fff;
	padding: 15px;
}
.col-md-8 {
	padding: 0;
}
p {
	display: inline-block;
	margin-top: 10px;
}
colourpicker, fontpicker, brandingoptionpicker, upload {
	float: right;
}