<div [formGroup]="form">
    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.QuizQuestions) || feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.SurveyQuestions)">
        <div class="question-menu col-md-10">
            <a [class.invisible]="currentQuestion<=0" (click)="displayQuestion(currentQuestion-1)" class="question-menu-item prev-question"><i class="material-icons">keyboard_arrow_left</i></a>
            <a *ngFor="let question of form.controls.questions.controls; let i=index" [class.active]="currentQuestion===i" (click)="displayQuestion(i)" class="question-menu-item">{{i+1}}</a>
            <a [class.invisible]="currentQuestion >= (form.controls.questions.controls.length-1)" (click)="displayQuestion(currentQuestion+1)" class="question-menu-item"><i class="material-icons">keyboard_arrow_right</i></a>

            <a (click)="addQuestion()" class="question-menu-item" *ngIf="form.controls.questions.controls.length < 20"><i class="material-icons">add</i></a>      
            <div class="clearfix"></div>
        </div>

        <div formArrayName="questions">
            <div *ngFor="let question of form.controls.questions.controls; let i=index">
                <div *ngIf="currentQuestion===i">
                    <question [form]="form.controls.questions.controls[i]" [feedType]="feedType" [index]="i" [model]="question" [questionType]="questionTypeEnum" [submitted]="submitted"
                              (removeAnswer)="removeAnswer($event)" (addAnswer)="addAnswer()"></question>
                    <div class="col-md-10 remove-question-container">
                        <hr />
                        <a (click)="removeQuestion(i)" [class.disabled]="form.controls.questions.controls.length <= 1" class="btn">Delete Question</a>                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.QuizScore)">
        <div class="rich-text-box">
            <label>Welcome message</label>
            <editor [elementId]="'onBoardingMessage'" [value]="form.controls.onBoardingMessage.value" [formGroup]="form" [disabled]="true"></editor>
            <small class="active-warning" [class.hidden]="form.controls.onBoardingMessage.valid || !submitted">
                e.g: Welcome to the Quiz
            </small>
            <small>This entry is not required for this feed item.</small>
        </div>

        <div class="rich-text-box">
            <label>Congratulate your learners with an engaging message</label>
            <editor [elementId]="'successMessage'" [value]="form.controls.successMessage.value" [formGroup]="form"></editor>
            <small class="active-warning" [class.hidden]="form.controls.successMessage.valid || !submitted">
                e.g: Congratulations! Your skills are improving
            </small>
        </div>

        <div class="rich-text-box">
            <label>Let your learners know what went wrong with a positive message</label>
            <editor [elementId]="'failMessage'" [value]="form.controls.failMessage.value" [formGroup]="form"></editor>
            <small class="active-warning" [class.hidden]="form.controls.failMessage.valid || !submitted">
                e.g: oooh Unlucky! You will get it next time!
            </small>
        </div>

    </div>
    
    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.SurveyScore)">
        <div class="rich-text-box">
            <label>Welcome message</label>
            <editor [elementId]="'surveyDescription'" [value]="form.controls.surveyDescription.value" [formGroup]="form" [disabled]="true"></editor>
            <small class="active-warning" [class.hidden]="form.controls.surveyDescription.valid || !submitted">
                e.g: Welcome to the Survey
            </small>
        </div>

        <div class="rich-text-box">
            <label>Completion message</label>
            <editor [elementId]="'completionMessage'" [value]="form.controls.completionMessage.value" [formGroup]="form" [disabled]="true"></editor>
            <small class="active-warning" [class.hidden]="form.controls.completionMessage.valid || !submitted">
                e.g: Thank you for taking part!
            </small>
        </div>
        <small>These entries are not required for this feed item.</small>
    </div>
</div>
