
<div *ngIf="!model">
    <em>Loading...</em>
</div>




<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)" *ngIf="model" class="feed-item-form-container">
    
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="enabled">
    <input type="hidden" formControlName="published">
    <input type="hidden" formControlName="feedType">
    <input type="hidden" formControlName="feedCategory">
    
    <div class="feed-item-form-buttons">
        <a (click)="goBack()" class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>
    <div class="clear-both"></div>
    <div class="feed-form-navigation col-md-8">
        <span *ngFor="let step of this.feedFormSteps.visibleSteps">
            <a (click)="this.feedFormSteps.navigateToSelectedStep(step)" [class.active-form-tab]="this.feedFormSteps.currentStep == step">{{step.name}}</a>
        </span> 
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>

    <div class="col-md-8 no-pad" *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.Category)">
        <div>
            <div class="col-md-12 no-pad">
                <div class="col-md-6">
                    <div class="feed-cat-container" [class.active-cat]="model.feedCategory == feedCats.Learning && model.feedType != feedTypes.Observation">
                        <img src="assets/images/Icon-Learning-b.png" class="feed-cat-img" />
                        <h5>LEARNING</h5>
                        <p>Create informal, fun learning and competition. Small modules with an optional Quiz to test engagement. Embrace competition with Leaderboards and track user's progress with Reports.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.textForm, feedCats.Learning)" class="btn btn-primary col-md-4 btn-3 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Text" [class.disabled]="model.id>0">
                                Module
                            </a>
                            <a (click)="swapForm(this.quizForm, feedCats.Learning)" class="btn btn-primary col-md-4 btn-3 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Quiz" [class.disabled]="model.id>0">
                                Quiz
                            </a>
                            <a (click)="swapForm(this.surveyForm, feedCats.Learning)" class="btn btn-primary col-md-4 btn-3 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Survey" [class.disabled]="model.id>0">
                                Survey
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>

                <div class="col-md-6">
                    <div class="feed-cat-container" [class.active-cat]="model.feedCategory == feedCats.Campaign">
                        <img src="assets/images/Icon-Campaign-b.png" class="feed-cat-img" />
                        <h5>CAMPAIGN</h5>
                        <p>Campaign helps make your marketing strategy stronger. You will be able to add media, and additional links. Even better, get insights by sending a survey.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.textForm, feedCats.Campaign)" class="btn btn-primary col-md-6 btn-2 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Campaign && model.feedType == feedTypes.Text" [class.disabled]="model.id>0">
                                Module
                            </a>
                            <a (click)="swapForm(this.surveyForm, feedCats.Campaign)" class="btn btn-primary col-md-6 btn-2 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Campaign && model.feedType == feedTypes.Survey" [class.disabled]="model.id>0">
                                Survey
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>

            <div class="col-md-12 no-pad">
                <div class="col-md-4">
                    <div class="feed-cat-container" [class.active-cat]="model.feedCategory == feedCats.Announcement">
                        <img src="assets/images/Icon-Announcement-b.png" class="feed-cat-img" />
                        <h5>ANNOUNCEMENT</h5>
                        <p>Announcement allows you to create content including rich media and additional links to websites and our other apps.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.textForm, feedCats.Announcement)" class="btn btn-primary col-md-12 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Announcement && model.feedType == feedTypes.Text" [class.disabled]="model.id>0">
                                Module
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="col-md-4">
                    <div class="feed-cat-container" [class.active-cat]="model.feedCategory == feedCats.News">
                        <img src="assets/images/Icon-News-b.png" class="feed-cat-img" />
                        <h5>NEWS</h5>
                        <p>Keep everyone updated. News gives you the flexibility of using media and additional links.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.textForm, feedCats.News)" class="btn btn-primary col-md-12 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.News && model.feedType == feedTypes.Text" [class.disabled]="model.id>0">
                                Module
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="col-md-4">
                    <div class="feed-cat-container" [class.active-cat]="model.feedCategory == feedCats.Article">
                        <img src="assets/images/Icon-Article-b.png" class="feed-cat-img" />
                        <h5>ARTICLE</h5>
                        <p>Article enables you to include and image and PDF link.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.textForm, feedCats.Article)" class="btn btn-primary col-md-12 waves-effect waves-light" [class.active-type]="model.feedCategory == feedCats.Article && model.feedType == feedTypes.Text" [class.disabled]="model.id>0">
                                Module
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clearfix"></div>
            </div>     
        </div>
        <div>
            <div class="col-md-12 no-pad">
                <div class="featured-cat-header">
                    <h5>Featured Category</h5>
                </div>
                <div>
                    <p class="observation-text">
                        The following category has specific privileges, and is connected to Reports and Analytics.<br/>
                        This feed item will only be seen by Sales Managers to report to back to their NSC.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="feed-cat-container" [class.active-cat]="model.feedType == feedTypes.Observation">
                        <img src="assets/images/Icon-Observation-b.png" class="feed-cat-img"/>
                        <h5>OBSERVATION</h5>
                        <p>Observations are surveys allowing Sales Managers to report the progress of their staff to the NSC.</p>
                        <div class="btn-holder">
                            <a (click)="swapForm(this.observationForm, feedCats.Learning)" class="btn btn-primary col-md-12 waves-effect waves-light" [class.active-type]="model.feedType == feedTypes.Observation" [class.disabled]="model.id>0">
                                Survey
                            </a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.Main)"  class="col-md-8">
        
        <div class="input-field">
            <input id="title" type="text" formControlName="title">
            <label for="title"[class.active]="form.controls.title.value.length>0">Enter Title</label>
            <small [class.active-warning]="!form.controls.title.valid && submitted">
                Title is required (minimum 5 characters).
            </small>
        </div>
        
        <div class="input-field">
            <label [class.active]="form.controls.shortDescription.value.length>0">Short Description</label>
            <input type="text" formControlName="shortDescription">
            <small [class.active-warning]="!form.controls.shortDescription.valid && submitted">
                Short description is required.
            </small>
        </div>

        <div *ngIf="model.feedType == feedTypes.Text"  class="input-field">
            <label [class.active]="form.controls.bodyText.value.length>0">Body Text</label>
            <input type="text" formControlName="bodyText">
            <small [class.active-warning]="!form.controls.bodyText.valid && submitted">
                Body text is required (minimum 5 characters).
            </small> 
        </div>
        
    </div>

    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.Category) || 
         feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.Main)" class="col-md-4">
        <h5>Options</h5>
        <hr/>
        
        <div class="input-field">
            <input id="points" type="text" formControlName="points">
            <label for="points" [class.active]="form.controls.points.value>0">Reward Points</label>
            <small [class.active-warning]="!form.controls.points.valid && submitted">
                Reward points are requiered.
            </small>
        </div>

        <div class="input-field">
            <label for="allowFavourite">Allow Favourite</label>
            <div class="switch">
                <label>                    
                    <input formControlName="allowFavourite" type="checkbox" [checked]="model.allowFavourite">
                    <span class="lever"></span>                    
                </label>
                <div class="clearboth"></div>
            </div>
        </div>

        <div class="input-field">
            <input id="readingTime" type="text" formControlName="readingTime">
            <label for="readingTime" [class.active]="form.controls.readingTime.value>0">Reading Time (mins)</label>
            <small [class.active-warning]="!form.controls.readingTime.valid && submitted">
                (Estimated time is mandatory)
            </small>
        </div>

        <!--<div>
            <label>Start Date</label>
            <input type="date" formControlName="startDate">
        </div>-->
        
        <!--<div>
            <label>End Date</label>
            <input type="date" formControlName="endDate">
        </div>-->

        <div>
            <label>Start Date</label>
            <input id="startDate" type="date" class="datepicker" for="startDate" formControlName="startDate">
        </div>

        <div>
            <label>End Date</label>
            <input id="endDate" type="date" class="datepicker" for="endDate" formControlName="endDate">
        </div>

        <!--<p-calendar formControlName="endDate" dateFormat="DD.MM.YYYY"></p-calendar>-->
        
    </div>

    <div *ngIf="feedFormData">
        <feed-form-component [feedFormData]="feedFormData"></feed-form-component>
    </div>
   
    <div class="clear-both"></div>
</form>
            
