<div [formGroup]="form" *ngIf="this.model">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="order">
    
    <div class="input-field">
        <input id="questions-{{index}}-question" type="text" formControlName="question">
        <label htmlFor="questions-{{index}}-question">Question</label>
    </div>

    <div class="answer-container">
        <div class="answer-header">Answer type</div>
        <p>
            <input type="radio" id="answer-type-1" formControlName="questionType" value="answerType.Single"/>
            <label>Single choice</label>
        </p>
        <p>
            <input type="radio" id="answer-type-2" formControlName="questionType" value="answerType.Multiple"/>
            <label>Multiple choice</label>
        </p>
    </div>

    <div formArrayName="answers">
        <div class="answer-container" *ngFor="let answer of form.controls.answers.controls; let i=index">
            
            <div class="answer-header">
                Answer <span *ngIf="form.controls.answers.controls.length < 3">(required)</span>
            </div>

            <div [formGroupName]="i">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="order">
                <p>
                    <input type="checkbox" id="questions-{{index}}-answer-{{i}}-isCorrect" formControlName="isCorrect"/>
                    <label htmlFor="questions-{{index}}-answer-{{i}}-isCorrect">Correct</label>
                </p>

                <div class="input-field">
                    <input type="text" id="questions-{{index}}-answer-{{i}}-answer" formControlName="answer">
                    <label htmlFor="questions-{{index}}-answer-{{i}}-answer">Enter here</label>
                </div>
            </div>

            <a (click)="removeAnswer(i)" [class.disabled]="form.controls.answers.controls.length < 3" class="btn">Delete Answer</a>
        </div>
    </div>
    <a (click)="addAnswer()" [class.disabled]="form.controls.answers.controls.length > 4" class="btn">Add Answer</a>
</div>
