<div [formGroup]="form">
    <div class="input-field">
        <input id="questions-{{model.order}}-question" type="text" formControlName="questions[{{model.order}}].question">
        <label htmlFor="questions-{{model.order}}-question">Question</label>
    </div>

    <div class="answer-container">
        <div class="answer-header">Answer type</div>
        <p>
            <input name="answer-type" type="radio" id="answer-type-1" formControlName="questions[{{model.order}}].questionType" value="answerType.Single"/>
            <label for="answer-type-1">Single choice</label>
        </p>
        <p>
            <input name="answer-type" type="radio" id="answer-type-2" formControlName="questions[{{model.order}}].questionType" value="answerType.Multiple"/>
            <label for="answer-type-2">Multiple choice</label>
        </p>
    </div>

    <div class="answer-container" *ngFor="let answer of this.model.answers">
        <div class="answer-header">Answer (required)</div>
        <p>
            <input type="checkbox" id="questions-{{model.order}}-answer-{{answer.order}}-isCorrect" formControlName="questions[{{model.order}}].answer[{{answer.order}}].isCorrect"/>
            <label htmlFor="questions-{{model.order}}-answer-{{answer.order}}-isCorrect">Correct</label>
        </p>

        <div class="input-field">
            <input type="text" id="questions-{{model.order}}-answer-{{answer.order}}-answer" formControlName="questions[{{model.order}}].answer[{{answer.order}}].answer">
            <label htmlFor="questions-{{model.order}}-answer-{{answer.order}}-answer">Enter here</label>
        </div>
        <!--<a (click)="alert('hi')" [disabled]="!form.controls.questions[model.order].controls.answers.length > 2">Should be disabled</a>-->
    </div>
</div>
