<div [formGroup]="form">
    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.QuizQuestions)">
        <div class="question-menu">
            <a *ngIf="currentQuestion>0" (click)="displayQuestion(currentQuestion-1)" class="question-menu-item">Previous</a>
            <a *ngFor="let question of form.controls.questions.controls; let i=index" [class.active]="currentQuestion===i" (click)="displayQuestion(i)" class="question-menu-item">{{i+1}}</a>
            <a *ngIf="currentQuestion < (form.controls.questions.controls.length-1)" (click)="displayQuestion(currentQuestion+1)" class="question-menu-item">Next</a>

            <a (click)="addQuestion()" class="question-menu-item" *ngIf="form.controls.questions.controls.length < 20">Add</a>          
        </div>

        <div formArrayName="questions">
            <div *ngFor="let question of form.controls.questions.controls; let i=index">
                <div *ngIf="currentQuestion===i">
                    <question [form]="form.controls.questions.controls[i]" [feedType]="feedType" [index]="i" [model]="question"></question>
                    <a (click)="removeQuestion(i)" *ngIf="form.controls.questions.controls.length > 1" class="btn">Delete Question</a>                    
                </div>
            </div>
        </div>
    </div>
    

    <div *ngIf="feedFormSteps.isCurrentStep(feedFormSteps.feedStepTypes.QuizScore)">
        <div class="input-field">
            <input id="onBoardingMessage" type="text" formControlName="onBoardingMessage">
            <label for="onBoardingMessage">Welcome message</label>
            <small [class.active-warning]="!form.controls.onBoardingMessage.valid && submitted">
                e.g: Welcome to the Quiz
            </small>
        </div>

        <div class="input-field">
            <input id="successMessage" type="text" formControlName="successMessage">
            <label for="successMessage">Congratulate your learners with an engaging message</label>
            <small [class.active-warning]="!form.controls.successMessage.valid && submitted">
                e.g: Congratulations! Your skills are improving
            </small>
        </div>

        <div class="input-field">
            <input id="failMessage" type="text" formControlName="failMessage">
            <label for="failMessage">Let your learners know what with wrong with a positive message</label>
            <small [class.active-warning]="!form.controls.failMessage.valid && submitted">
                e.g: oooh Unlucky! You will get it next time!
            </small>
        </div>
    </div>
</div>
