<div class="modal-header">
    <h5>
        <span *ngIf="selectedFeedItemId==0">Create Feed Item</span>
        <span *ngIf="selectedFeedItemId>0">Edit Feed Item</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h5>

</div>

<div *ngIf="!model" class="modal-body">
    <em>Loading...</em>
</div>


<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)" *ngIf="model">

    <div class="modal-body">
        <div *ngIf="this.selectedFeedItemId===0">
            <div>
                <h4>
                    Select a feed type
                </h4>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <button (click)="swapForm(this.textForm)" class="btn btn-primary">
                        Text Feed
                    </button>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/createimagefeeditem']" class="btn btn-primary">
                        Image Feed
                    </a>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/createvideofeeditem']" class="btn btn-primary">
                        Video Feed
                    </a>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/createquizfeeditem']" class="btn btn-primary">
                        Quiz Feed
                    </a>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/createsurveyfeeditem']" class="btn btn-primary">
                        Survey Feed
                    </a>
                </div>
            </div>
            <hr/>
        </div>


        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="enabled">
        <input type="hidden" formControlName="published">
        <input type="hidden" formControlName="feedType">

        <div>
            <label>Title</label>
            <input type="text" formControlName="title">
            <small [hidden]="form.controls.title.valid || (form.controls.title.pristine && !submitted)">
                Title is required (minimum 5 characters).
            </small>
        </div>

        <div>
            <label>Feed Category</label>
            <select class="form-control"
                    formControlName="feedCategory">
                <option *ngFor="let cat of feedCategories" [ngValue]="cat.value">{{cat.name}}</option>
            </select>
        </div>

        <div>
            <label>Points Value</label>
            <input type="text" formControlName="points">
        </div>

        <div>
            <label>Body Text</label>
            <input type="text" formControlName="bodyText">
            <small [hidden]="form.controls.bodyText.valid || (form.controls.bodyText.pristine && !submitted)">
                Body text is required (minimum 5 characters).
            </small>
        </div>
    </div>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>

</form>
            
