
<div *ngIf="!model">
    <em>Loading...</em>
</div>


<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)" *ngIf="model">
    
    <div *ngIf="!model.id">
        <div class="col-md-12">
            
            <div class="col-md-6">
                <div class="feed-cat-container col-md-10 col-md-offset-1" [class.active-cat]="model.feedCategory == feedCats.Learning">
                    <img src="assets/images/Icon-Learning-b.png" class="feed-cat-img"/>
                    <h4>LEARNING</h4>
                    <p>Create informal, fun learning and competition. Small modules with an optional Quiz to test engagement. Embrace competition with Leaderboards and track user's progress with Reports.</p>
                    <div>
                        <button (click)="swapForm(this.textForm, feedCats.Learning)" class="btn btn-primary col-md-4" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Text">
                            Module
                        </button>
                        <button (click)="swapForm(this.quizForm, feedCats.Learning)" class="btn btn-primary col-md-4" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Quiz">
                            Quiz
                        </button>
                        <button (click)="swapForm(this.surveyForm, feedCats.Learning)" class="btn btn-primary col-md-4" [class.active-type]="model.feedCategory == feedCats.Learning && model.feedType == feedTypes.Survey">
                            Survey
                        </button>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="col-md-6">
                <div class="feed-cat-container col-md-10 col-md-offset-1" [class.active-cat]="model.feedCategory == feedCats.Campaign">
                    <img src="assets/images/Icon-Campaign-b.png" class="feed-cat-img"/>
                    <h4>CAMPAIGN</h4>
                    <p>Create informal, fun learning and competition. Small modules with an optional Quiz to test engagement. Embrace competition with Leaderboards and track user's progress with Reports.</p>
                    <div>
                        <button (click)="swapForm(this.textForm, feedCats.Campaign)" class="btn btn-primary col-md-6" [class.active-type]="model.feedCategory == feedCats.Campaign && model.feedType == feedTypes.Text">
                            Module
                        </button>
                        <button (click)="swapForm(this.surveyForm, feedCats.Campaign)" class="btn btn-primary col-md-6" [class.active-type]="model.feedCategory == feedCats.Campaign && model.feedType == feedTypes.Survey">
                            Survey
                        </button>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="col-md-4">
                <a [routerLink]="['/createvideofeeditem']" class="btn btn-primary">
                    Video Feed
                </a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/createquizfeeditem']" class="btn btn-primary">
                    Quiz Feed
                </a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/createsurveyfeeditem']" class="btn btn-primary">
                    Survey Feed
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr/>
    </div>
    
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="enabled">
    <input type="hidden" formControlName="published">
    <input type="hidden" formControlName="feedType">
    <input type="hidden" formControlName="feedCategory">

    <div>
        <label>Title</label>
        <input type="text" formControlName="title">
        <small [hidden]="form.controls.title.valid || (form.controls.title.pristine && !submitted)">
            Title is required (minimum 5 characters).
        </small>
    </div>

    <div>
        <label>Points Value</label>
        <input type="text" formControlName="points">
    </div>
    
    <div *ngIf="feedFormData">
        <feed-form-component [feedFormData]="feedFormData"></feed-form-component>
    </div>
    
    <button (click)="goBack()" class="btn btn-primary">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
            
