<div [formGroup]="form">

    <input type="hidden" formControlName="Id">
    <input type="hidden" formControlName="enabled">
    <input type="hidden" formControlName="published">
    <input type="hidden" formControlName="feedType">
    
   <div>
        <label>Title</label>
        <input type="text" formControlName="title">
        <small [hidden]="form.controls.title.valid || (form.controls.title.pristine && !submitted)">
            Title is required (minimum 5 characters).
        </small>
    </div>

    <div>
        <label>Feed Category</label>
        <select class="form-control"
                formControlName="feedCategory">
            <option *ngFor="let cat of feedCategories" [ngValue]="cat.value">{{cat.name}}</option>
        </select>
    </div>

    <div>
        <label>Points Value</label>
        <input type="text" formControlName="points">
    </div>

</div>



