<h2 *ngIf="selectedFeedItemId==0">Create Text Feed Item</h2>
<h2 *ngIf="selectedFeedItemId>0">Edit Text Feed Item</h2>

<p *ngIf="!model"><em>Loading...</em></p>

<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)" *ngIf="model">
    
    <div class="col-md-8">
        <feeditemform [group]="form"></feeditemform>

        <div>
            <label>Body Text</label>
            <input type="text" formControlName="bodyText">
            <small [hidden]="form.controls.bodyText.valid || (form.controls.bodyText.pristine && !submitted)">
                Body text is required.
            </small>
        </div>

    </div>

    <div class="col-md-12">
        <hr />
        <button type="submit" class="btn btn-primary">Submit</button>        
    </div>

</form>



