.footer{
    border-top: 5px #4F3A9F solid;
    height: 100px;
    background-color: #333333;
    color: #F3F3F3;
    position: relative;
    z-index: 2;
    padding-top: 10px;
}


.footer .footer-logo {
    margin: 0 40px;
    vertical-align: baseline;
}

.footer .footer-copywrite {
    display: inline-block;
}

