.footer{
    height: 100px;
    background-color: #405362;
    color: #F3F3F3;
    position: relative;
    padding-top: 40px;
}


.footer .footer-logo {
    width: 50px;
	height: 50px;
	display: inline-block;
    margin: 0 10px;
    vertical-align: baseline;
	background-image: url('~/assets/images/PHM-Logo-Small.png');
	background-size: 100%;
	background-size: cover;
}

.footer .footer-copywrite {
    display: inline-block;
	font-size: 0.8em;
	vertical-align: baseline;
	margin-top: -10px;
}

:host-context(.light-theme) .footer {
	background-color: #E7EDEB!important;
}
:host-context(.light-theme) .footer-copywrite {
	color: #405362;
}
:host-context(.light-theme) .footer .footer-logo {
	background-image: url('~/assets/images/PHM-Logo-Small-b.png');

}