.footer{
    height: 100px;
    background-color: #405362;
    color: #F3F3F3;
    position: relative;
    padding-top: 10px;
}


.footer .footer-logo {
    width: 80px;
    margin: 0 10px;
    vertical-align: baseline;
}

.footer .footer-copywrite {
    display: inline-block;
}

