<div class="nav-container">
    <div class='navbar-header'>
	    <a *ngIf="currentMenuOptions == baseMenuOptions" class='navbar-brand' [routerLink]="['/home']" id="btn-home">
		    <img src="assets/images/MobileSP-LOGO-Landscape.png" class="header-logo" />
		    <p>LearnComSP</p>
	    </a>
	    <a *ngIf="currentMenuOptions && currentMenuOptions.length > 0 && currentMenuOptions != baseMenuOptions" class='navbar-brand' [routerLink]="['/home']" (click)="resetNavMenu(true)" id="btn-reset-nav">
		    <h5 class="back-container">
			    <i class="material-icons">reply</i> <span class="back-text">{{backText}}</span>
		    </h5>
	    </a>

        <div class="header-content">
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
    </div>

    <div class='main-nav'>
        <div class='navbar navbar-inverse'>
            <div class='clearfix'></div>
            <div class='navbar-collapse collapse'>
	            <div *ngIf="shareService.currentUser.email && currentMenuOptions == baseMenuOptions">
					<a id="navbar__user-dropdown-toggle" class="dropdown-button" (click)="toggleDropdown=!toggleDropdown">
						{{shareService.currentUser.email}}
						<i class="material-icons right user-toggle-arrow" *ngIf="!toggleDropdown">keyboard_arrow_down</i>
						<i class="material-icons right user-toggle-arrow" *ngIf="toggleDropdown">keyboard_arrow_up</i>
					</a>		            
	            </div>

                <ul id='nav-bar-dropdown' class='nav-dropdown-content' [class.hidden]="!toggleDropdown">
                    <li>
                        <a href="/logout" class="waves-effect waves-light" id="navbar__user-dropdown-logout">
                            Log out
                        </a>
                    </li>
                </ul>
              
	            <div class='loader' *ngIf="!currentMenuOptions || currentMenuOptions.length === 0"></div>
	            <ul class='nav navbar-nav animate-bottom' *ngIf="currentMenuOptions && currentMenuOptions.length > 0">
		            <li *ngFor="let m of currentMenuOptions; let i=index" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="m.routerLinkActiveOptions" [class.link-active]="m.activeLink">
			            <a *ngIf="m.routerLink" [routerLink]="[m.routerLink]" (click)="m.onClick" class="waves-effect waves-light" id="navbar__option-{{i}}">
				            {{m.title}}
			            </a>
			            <a *ngIf="!m.routerLink" (click)="m.onClick(m.onClickParams);setActiveMenu(i)" class="waves-effect waves-light" id="navbar__option-{{i}}">
				            {{m.title}}
			            </a>
		            </li>
				</ul>
            </div>
        </div>
    </div>
</div>

