.navbar-header a {
    text-decoration: none;
}

li .glyphicon {
    margin-right: 10px;
}

.nav-container {
    min-width: 180px;
}

.navbar-nav li a {
    color: #F3F3F3;
    border-radius: 0!important;
    font-family: 'Verdana';
    font-size: 13px;
}

.navbar ul:not(.nav-dropdown-content) > li > a {
    font-family: 'Verdana Bold', 'Verdana Regular', 'Verdana';
    font-weight: 700;
}

li:not(.link-active) a:hover,
li:not(.link-active) a:focus,
.navbar ul > li.link-active > a,
.navbar ul > li.link-active > a:hover,
.navbar ul > li.link-active > a:focus{
    background-color: #EDEDED;
    color: #3E3E3E;
}

/*.navbar-nav li {
    margin: 0!important;
    border-top: 1px #3E3E3E solid;
    border-bottom: 1px #3E3E3E solid;
}*/
.navbar-brand:hover, .navbar-brand span:hover, .navbar-brand i:hover , .navbar-brand h5:hover, .navbar a {
	cursor: pointer;
}
 .navbar-brand {
     padding-top: 20px;
     background-color: white;
     text-align: center;
     color: #000;
     font-size: 0.8em;
}
.navbar-brand p{
     margin-top: -7px;
 }

.header-logo {
     height: 91px;
     margin: auto;
}

.header-text img {
    margin-right: 15px;
}

.header-text {
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    display: inline-block;
}

.nav-top-menu  { 
    float: right;
}

.nav-top-menu-item img {
    margin-left: 15px;
}


.nav-top-menu a:not(.link-active):hover .nav-top-menu-item {
    background-color: #EDEDED;
    color: #3E3E3E;
}

.nav-top-menu .link-active .nav-top-menu-item{
    border: 2px solid #3E3E3E;
}

.header-content {
    margin-top: 20px;
}

.navbar-header {
    background-color: transparent!important;
    height: 160px;
}



.navbar-inverse {
    min-height: 0;
}

.main-nav, .navbar-inverse {
    margin-bottom: 0;
}

.main-nav, .navbar-header {
    border-color: #080808;
}

.navbar-toggle {
    margin: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #EDEDED;
}

.navbar-toggle .icon-bar {
  background-color: #EDEDED;
}

.nav-top-menu-item a:hover, 
.nav-top-menu-item a:active 
.nav-top-menu-item a:focus {
    text-decoration: none;
}


.nav-top-menu-item {
    width: 150px;
    margin-right: 20px;
    padding: 15px;
    margin: 0;
    display: inline-block;
    text-align: center;
}


@media (min-width: 768px) {
    .nav-container {
        min-height: calc(100vh - 100px);
        background-color: #405362;
    }

    .main-nav, .navbar-brand {
        height: 100%;
        width: 100%;
    }
    .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        padding: 0;
        height: 100%!important;
    }
    .navbar ul {
        float: none;
    }
    .navbar li, .navbar a {
        float: none;
        font-size: 15px;
    }
    .navbar li a {
        padding: 15px 32px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .navbar-inverse {
        border-color: transparent;
        background-color: transparent;
    }

}

@media (max-width: 768px) {
    .nav-container {
         margin-left: -30px;
         margin-right: -30px;
     }
    .navbar-nav {
         margin: 0;
    }
    .navbar-collapse{ padding: 0;}

    .main-nav {
        width: 100%;
    }
}
.nav-bar-dropdown {
    z-index: 2;
}
.dropdown-button {
    height: 50px;
    padding: 15px 10px 15px 32px;
    color: #000;
    background-color: #fff;
    border-radius: 0;
    text-align: left;
	display: block;
    font-weight: 200;
}
.nav-dropdown-content {
	background-color: #fff;
	margin-bottom: 0;
}
.dropdown-button {
    border-top: #999 1px solid;
}
.dropdown-button, .nav-dropdown-content > li > a{
    font-weight: 400!important;
	color: #000;
	text-decoration: none;
}
.nav-dropdown-content > li > a{
    padding-right: 10px;
}
.back-container {
	margin-top: 40px;
}
.back-text {
	position: relative;
	top: -6px;
}

:host-context(.light-theme) .nav-col, :host-context(.light-theme) .footer, 
:host-context(.light-theme) .nav-container {
	background-color: #E7EDEB!important;
}
:host-context(.light-theme) .nav-container li:not(.link-active) a:hover,
:host-context(.light-theme) .nav-container li:not(.link-active) a:focus,
:host-context(.light-theme) .nav-container .navbar ul > li.link-active > a,
:host-context(.light-theme) .nav-container .navbar ul > li.link-active > a:hover,
:host-context(.light-theme) .nav-container .navbar ul > li.link-active > a:focus{
	background-color: #FFFFFF!important;
	font-weight: 600!important;
}
:host-context(.light-theme) .main-nav .navbar-nav li, 
:host-context(.light-theme) .main-nav .navbar-nav li a {
	color: #3E3E3E!important;
	font-weight: 400!important;

}