<div class="nav-container">
    <div class='navbar-header'>
	    <a *ngIf="currentMenuOptions == baseMenuOptions" class='navbar-brand' [routerLink]="['/home']">
		    <img src="assets/images/MobileSP-LOGO-Landscape.png" class="header-logo" />
		    <p>LearnComSP</p>
	    </a>
	    <a *ngIf="currentMenuOptions != baseMenuOptions" class='navbar-brand' [routerLink]="['/home']" (click)="resetNavMenu()">
		    <img src="assets/images/MobileSP-LOGO-Landscape.png" class="header-logo"/>
		    <p>LearnComSP</p>
		    <div class="back-container">
			    <i class="material-icons">reply</i> <span class="back-text">Go Back</span>
		    </div>
	    </a>

        <div class="header-content">
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
    </div>

    <div class='main-nav'>
        <div class='navbar navbar-inverse'>
            <div class='clearfix'></div>
            <div class='navbar-collapse collapse'>
                
                <a class='dropdown-button btn' data-activates='nav-bar-dropdown'>{{shareService.currentUser.email}} <i class="material-icons right">keyboard_arrow_down</i></a>
                <ul id='nav-bar-dropdown' class='dropdown-content'>
                    <li>
                        <a data-activates='nav-bar-dropdown'>{{shareService.currentUser.email}} <i class="material-icons right">keyboard_arrow_up</i></a>
                    </li>
                    <li>
                        <a href="/account/logout" class="waves-effect waves-light">
                            Log out
                        </a>
                    </li>
                </ul>
              
              <ul class='nav navbar-nav'>
                <li *ngFor="let m of currentMenuOptions; let i=index" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="m.routerLinkActiveOptions" [class.link-active]="m.activeLink">
	                <a *ngIf="m.routerLink" [routerLink]="[m.routerLink]" (click)="m.onClick" class="waves-effect waves-light">
		                {{m.title}}
	                </a>
	                <a *ngIf="!m.routerLink" (click)="m.onClick(m.onClickParams);setActiveMenu(i)" class="waves-effect waves-light">
		                {{m.title}}
	                </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>

