<div [formGroup]="form">
    <small *ngIf="submitted && form.controls.tabs.hasError('minlength')" class="active-warning center">
        Please add at least one tab.
    </small>
    <div class="clearfix"></div>

    <div formArrayName="tabs">
        <h5>
            Tabs
        </h5>
        <div class="tab-container">
            <div class="tab-list-container">
                <a *ngFor="let tab of form.controls.tabs.controls; let i=index" [class.active]="currentTab===i" (click)="displayTab(i)" class="tab-menu-item tab-num">{{i+1}}</a>
                <a (click)="addTab();" class="tab-menu-item" *ngIf="form.controls.tabs.controls.length < 3"><i class="material-icons">add</i></a>
            </div>

            <div *ngFor="let tab of form.controls.tabs.controls; let i=index">
                <div [class.hidden]="currentTab!=i">
                    <div [formGroupName]="i">
                        <input type="hidden" formControlName="id">
                        <input type="hidden" formControlName="order">
                        <input type="hidden" formControlName="tabbedTextFeedPageId">
                        <textinput [form]="tab" [formSubmitted]="submitted"
                                   [elementId]="'tabs-' + i + '-title'"
                                   [formControlId]="'title'"
                                   [label]="'Tab title'"
                                   [validationMessage]="'A tab title is required.'"></textinput>
                        <richtexteditor *ngIf="isVisible" [form]="tab" [formSubmitted]="submitted"
                                [elementId]="'page-' + index + '-tabs-' + i + '-bodyText'"
                                [formControlId]="'bodyText'"
                                [label]="'Body text'"
                                [validationMessage]="'Body text is required.'"></richtexteditor>
                    </div>
                    <div class="col-md-10 remove-tab-container">
                        <hr/>
                        <a (click)="removeTab(i)" [class.disabled]="form.controls.tabs.controls.length <= 1" class="btn">Delete Tab</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>