<div class="container">
    <form action="/Feed/CreateFeedItemAsync" class="form-horizontal feed-item-form" role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required>
        </div>
    </form>
</div>
<!--<td>{{ feedItem.id }}</td>
        <td>{{ feedItem.title }}</td>
        <td>{{ feedItem.feedType }}</td>
        <td>{{ feedItem.feedCategoryEnum }}</td>
        <td>{{ feedItem.points }}</td>
        <td>{{ feedItem.enabled }}</td>
        <td>{{ feedItem.published }}</td>
        <td>{{ feedItem.marketId }}</td>
        <td>{{ feedItem.createdAt }}</td>-->
