
<div>
    <h3>
        Select a feed type
    </h3>
</div>
<div class="col-md-2">
    <a [routerLink]="['/textfeeditem']" class="btn btn-primary">
        Text Feed
    </a>
</div>
<div class="col-md-2">
    <a [routerLink]="['/createimagefeeditem']" class="btn btn-primary">
        Image Feed
    </a>
</div>
<div class="col-md-2">
    <a [routerLink]="['/createvideofeeditem']" class="btn btn-primary">
        Video Feed
    </a>
</div>
<div class="col-md-2">
    <a [routerLink]="['/createquizfeeditem']" class="btn btn-primary">
        Quiz Feed
    </a>
</div>
<div class="col-md-2">
    <a [routerLink]="['/createsurveyfeeditem']" class="btn btn-primary">
        Survey Feed
    </a>
</div>

