<h1>Feed</h1>

<p *ngIf="!feedItems"><em>Loading feed...</em></p>

<table class='table' *ngIf="feedItems">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Feed Type</th>
        <th>Feed Cat.</th>
        <th>Points</th>
        <th>Enabled</th>
        <th>Published</th>
        <th>Market Id</th>
        <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feedItem of feedItems | paginate: {itemsPerPage: 20, currentPage:page, id: '1'}">
        <td>{{ feedItem.id }}</td>
        <td>{{ feedItem.title }}</td>
        <td>{{ feedItem.feedType }}</td>
        <td>{{ feedItem.feedCategoryEnum }}</td>
        <td>{{ feedItem.points }}</td>
        <td>{{ feedItem.enabled }}</td>
        <td>{{ feedItem.published }}</td>
        <td>{{ feedItem.marketId }}</td>
        <td>{{ feedItem.createdAt }}</td>
    </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event" id="1"
                     maxSize="20"
                     directionLinks="true"
                     autoHide="true">
</pagination-controls>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-feed-modal">
    Create Feed Item
</button>

<div class="modal fade" tabindex="-1" role="dialog" id="create-feed-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Feed Item</h4>
            </div>
            <div class="modal-body">
                <createfeeditem></createfeeditem>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-feed">Save</button>
            </div>
        </div>
    </div>
</div>
