<div *ngIf="!selectedModel">
    <div>
        <div class="loader" *ngIf="!termsAndConditions"></div>
                
        <div *ngIf="termsAndConditions">
            <a (click)="editTermsAndConditions()" class="btn-floating btn-large waves-effect waves-light btn-top-right" *ngIf="currentMarket && !currentMarket.isLive" id="terms-and-conditions-index-item__btn-create">
                <i class="material-icons">add</i>
            </a>
            <div class="col-xs-12" *ngIf="termsAndConditions.length === 0">
                <div class="col-xs-11 col-xs-offset-1">
                    <em>No items to display.</em>
                </div>
            </div>
		        <div *ngIf="termsAndConditions.length > 0" class='terms-and-conditions-index no-pad animate-bottom'>
			        <div *ngFor="let termsAndCondition of termsAndConditions | paginate: {itemsPerPage: 20, currentPage:page, id: '1'}; let i = index" class="col-xs-12 index-terms-and-conditions-item">
						<img src="assets/images/icons/Competition-icon-b_2x.png" class="terms-and-conditions-img" />
				        <div class="col-xs-7 no-pad">
					        <div class="col-xs-12 terms-and-conditions-item-title">
						        <p [innerHTML]="termsAndCondition.title"></p>
					        </div>
					        <div class="col-xs-12">
						        <div *ngIf="termsAndCondition.CreatedAt" class="date-posted terms-and-conditions-item-date">
							        Date posted: {{ terms-and-conditions.CreatedAt | date:'short' }}
						        </div>
					        </div>
				        </div>
				        <div class="col-xs-4 no-pad terms-and-conditions-index-controls">
					        <div class="terms-and-conditions-control" [class.col-xs-offset-3]="currentMarket && currentMarket.isLive">
						        <div>
							        <a (click)="editTermsAndConditions(termsAndCondition)" id="terms-and-conditions-index-item__btn-edit-{{i}}">
								        <i class="material-icons">edit</i>
								        <p>Edit</p>
							        </a>
						        </div>
					        </div>
					        <div class="terms-and-conditions-control">
						        <div>
							        <a (click)="deleteTermsAndConditions(termsAndCondition)" id="terms-and-conditions-index-item__btn-delete-{{i}}">
								        <i class="material-icons">delete</i>
								        <p>Delete</p>
							        </a>
						        </div>
					        </div>
					        <div class="clearfix"></div>
				        </div>
			        </div>
			        <div class="clearfix"></div>

			        <pagination-controls (pageChange)="page = $event" id="1"
			                             maxSize="20"
			                             directionLinks="true"
			                             autoHide="true">
			        </pagination-controls>
		        </div>
	        <div class="clearfix"></div>
        </div>
    </div>
</div>

<terms-and-conditions-form *ngIf="selectedModel" [model]="selectedModel" (termsAndConditionsUpdated)="termsAndConditionsUpdated($event)"></terms-and-conditions-form>
