$featuredColor: #06a2d1;
.lbRefine {
  font-size: 11px;
  .range {
      margin-top: 30px;
      margin-bottom: 20px;
      .lbSlider {
        margin-top: 10px;
        margin-bottom: 20px;
      }
  }
  .pointer{
    cursor: pointer;
  }
  .selectDate{
    position: relative;
    i{
      position: absolute;
      top: 11px;
      font-size: 20px;
      left: 3px;
    }
    input{
      width: 240px;
      padding-left: 30px;
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      padding-left: 00px;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      padding-left: 00px;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      padding-left: 00px;
    }
    input:-moz-placeholder { /* Firefox 18- */
      padding-left: 00px;
    }
    div{
      clear: both;
      position: absolute;
      top: 30px;
      width: 24px;
      text-align: center;
      color: $featuredColor;
    }
  }
  .groupBy {
    margin-top: 30px;
  }
  .sectionRow {
    clear: both;
    height: 16px;
    div {
      float: left;

    }
    .right{
        color: $featuredColor;
      font-weight: bold;
    }
    .strong{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .groups{
    clear: both;
    //min-height: 145px;
    width: 100%;
    border : 1px solid lightgray;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-y: scroll;
    padding: 5px;
  }
  .zone {
    clear: both;
    width: 100%;
    border : 1px solid lightgray;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: scroll;
    padding: 5px;
  }
  .region {
    clear: both;
    height: 215px;
    width: 100%;
    border : 1px solid lightgray;
    border-radius: 2px;
    margin-top: 30px;
    overflow-y: scroll;
    padding: 5px;
  }
}
