body{
      height: 100vh;
}
.login-body {
  background-image: url('../assets/images/LoginCMSbg.png');
  background-size: 100%;
  height: 100vh;
  padding-top: 200px;
}
.login-content {
  width: 45%;
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: white;
  box-shadow: 0 5px #eee;
  border-width:0;
}
.login-content form{
    width:100%;
}

.login-content .header{
    text-align:center;
}
.cms-version{
    position:absolute;
    bottom:0;
    right:10px;
    color:#fff;
}