.body-content {}

.ng2-pagination li a {cursor:pointer;}

.right {float:right;}

.btn-primary{
    background-color: #6cc04a;
    border-color: #6cc04a;
    border-radius:0;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #5a9e3d;
    border-color: #5a9e3d;
    box-shadow: 0 5px #6cc04a;
    border-color: #5a9e3d;
}

form .modal-footer{
    margin:10px -15px 0;
}