@using Phm.MobileSp.Cms.Core.Models
@model  Phm.MobileSp.Cms.Core.Models.MLearningUser

@{ Layout = "_LayoutLogin"; }

<div class="login-body">

    <div class="login-content">
        <div class="row">
            <div class="col-md-10 col-lg-offset-1 login-form center">
               <h2>An Error Occurred</h2>
                <h5>
                    Please click the provided link again, and if the error persists contact your NSC.
                </h5>
            </div>
        </div>
    </div>

</div>