<h2 mat-dialog-title>{{modalHeader}}</h2>
<mat-dialog-content>
  <div class="form-group">
    <div class="col-xs-5">
      <select class="form-control" multiple="multiple" [(ngModel)]="selectedUserMarket">
        <option *ngFor="let userMarket of this.userMarkets; let i = index" [ngValue]="userMarket" id="user-market-{{i}}">{{userMarket.name}}</option>
      </select>
    </div>
    <div class="col-xs-2 button-col">
      <br><br>
      <a (click)="copyToMarket()" class="btn" id="btn-movetomarket">
        <i class="material-icons">arrow_forward</i>
      </a>
      <br><br>
      <a (click)="removeFromMarket()" class="btn" id="btn-movefrommarket">
        <i class="material-icons">arrow_back</i>
      </a>
    </div>
    <div class="col-xs-5">
      <select class="form-control" multiple="multiple" [(ngModel)]="selectedMarket">
        <option *ngFor="let currentMarket of this.currentMarkets; let i = index" [ngValue]="currentMarket" [attr.disabled]="currentMarket.isCopied ? 'disabled' : null" id="current-market-{{i}}">{{currentMarket.name}}</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close id="btn-cancel-copytomarket">Cancel</button>
  <button mat-raised-button (click)="saveChanges()" [attr.disabled]="!loading && unsavedChanges ? null : 'disabled'" id="btn-save-copytomarket">Save changes</button>
</mat-dialog-actions>
