
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MobileSP</title>
      <base href="/" />
        <link href="/css/deeppurple-amber.css" rel="stylesheet">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/c3.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/ion.rangeSlider.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/bootstrap-tagsinput.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    </head>
<body>
@RenderBody()

@RenderSection("scripts", required: false)
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <script type="text/javascript" src="/js/c3.min.js"></script>
    <script type="text/javascript" src="/js/ion.rangeSlider.js"></script>
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-tagsinput.js"></script>
</body>
</html>
