<div class="modal-body">
    
    <div class="form-group">
        <div class="col-md-5">
            <select class="form-control" multiple="multiple" [(ngModel)]="selectedUserMarket">
                <option *ngFor="let userMarket of this.userMarkets" [ngValue]="userMarket">{{userMarket.name}}</option>
            </select>
        </div>
        <div class="col-md-1">
            <br><br>
            <a (click)="copyToMarket()">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <br><br>
            <a (click)="removeFromMarket()">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        </div>
        <div class="col-md-5">
            <select class="form-control" multiple="multiple" [(ngModel)]="selectedMarket">
                <option *ngFor="let currentMarket of this.currentMarkets" [ngValue]="currentMarket">{{currentMarket.name}}</option>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <a class="btn btn-primary" (click)="saveChanges()">Save changes</a>
</div>


