.user-group-permissions-container {
	background: #fff;
	padding: 10px;
}
.form-buttons {
	margin: 20px 0;
	text-align: right;
}
.user-row {
	border: 1px solid #ccc;
	
}
.btn-edit {
	cursor: pointer;
	float: right;
}
.user-permissions-form-container {
	background-color: #E6EAE9;
	padding: 10px 30px;
}
.user-row {
	padding: 5px 0;
}