@{ Layout = "_LayoutLogin"; }

<div class="logout-body">

    <div class="logout-content">
        <h4 class="header">
            You have successfully logged out of MobileSP
        </h4>
        <p class="content">
            Login again <a href="/">here</a>
        </p>
    </div>

</div>