<h5>
    {{title}}
</h5>
<p [class.warning]="!correctType">
    <span *ngIf="uploaderType==uploaderTypes.Any || uploaderType==uploaderTypes.Image">Images must be jpeg or png format. </span>
    <span *ngIf="uploaderType==uploaderTypes.Any || uploaderType==uploaderTypes.Video">Videos must be mp4. </span>     
</p>
<div class="upload-container">
    <div class="file-field input-field">
        <div class="btn" [class.disabled]="disabled" id="{{elementId != null ? elementId + '-' : ''}}btn-picker">
            <span>File</span>
            <input type="file" (change)="filesSelectHandler($event)" [disabled]="uploading || disabled" accept="video/mp4,image/png,image/jpg,image/jpeg" *ngIf="uploaderType==uploaderTypes.Any" id="{{elementId ? elementId + '-' : ''}}media-input">
            <input type="file" (change)="filesSelectHandler($event)" [disabled]="uploading || disabled" accept="image/png,image/jpg,image/jpeg" *ngIf="uploaderType==uploaderTypes.Image" id="{{elementId ? elementId + '-' : ''}}media-input">
            <input type="file" (change)="filesSelectHandler($event)" [disabled]="uploading || disabled" accept="video/mp4" *ngIf="uploaderType==uploaderTypes.Video" id="{{elementId ? elementId + '-' : ''}}media-input">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" [attr.disabled]="disabled ? disabled : null">
        </div>
    </div>
    <span class="input-group-btn">
        <span class="btn btn-primary btn-save" (click)="uploadFile()" *ngIf="!disabled" [class.disabled]="uploading || !files || files.length==0" id="{{elementId ? elementId + '-' : ''}}btn-save">Upload</span>
    </span>
    <div *ngIf="showPreview" class="preview-container">
        <div *ngIf="imagePreviewUrl || videoPreviewUrl" >
	        <h5 class="col-md-4">{{previewText}}</h5>
	        <div class="col-md-8">
				<img *ngIf="imagePreviewUrl" src="{{imagePreviewUrl}}" class="preview-image" />
				<video *ngIf="videoPreviewUrl" controls class="preview-image"><source src="{{videoPreviewUrl}}" type="video/mp4"></video>		        
	        </div>
            <div class="clearfix"></div>
            <hr />
        </div>
        <div *ngIf="uploading" class="loader"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div [formGroup]="form" *ngIf="form">
	<input type="hidden" formControlName="{{formControlId}}">
</div>