.colour-block {
	float: right;
}
.colour-block > span {
	text-align: center;
	padding-top: 10px;
	display: inline-block;
}
.colour-block, .colour-block > span {
	width: 100px;
	height: 40px;
	cursor: pointer;
}
.disable{ cursor: initial !important;}
.colour-block, h5 {
	display: inline-block;
}