.competition-index {
	background-color: #fff;
	padding-bottom: 10px;
}

.index-competition-item {
	padding-bottom: 5px;
}

.index-competition-item:nth-child(even) {
	 background-color: #F5F9F8;
}

.competition-index .competition-img {
    height: 30px;
    margin: 15px 0 0;
	float: left;
}

.competition-index-controls {
    margin-top: 10px;
	float: right;
}

.competition-index-controls i, .competition-index-controls p {
    color: #010101;
}

.competition-control {
    text-align: center;
	float: right;
	padding: 0 15px;
}

.competition-control a:hover, .competition-control div:hover {    
    cursor: pointer;
    text-decoration: none;
}

.competition-control p, .competition-control p:hover, .competition-control p:active,
.competition-control:hover, .competition-control:active{
    text-decoration: none;
}

.competition-item-title, .competition-item-markets {
    margin-bottom: 5px;
}

.competition-item-title p {
	font-weight: 600;
	font-size: 1.2em;
	margin: 15px 0 0;
}

.competition-item-title {
    font-weight: 600;
}

.competition-item-markets {
    height: 20px;
}

.date-posted {
	font-size: 0.8em;
    color: #1d9d19;
    font-weight: 600;
}

.no-pad {
    padding: 0;
}

.competition-cat-index {
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
    color: #010101 !important;
    font-size: 1.6em;
}

.competition-cat-index:hover, .competition-cat-index:active {
    text-decoration: none;
}

.link-active .competition-cat-index {
    font-weight: 600;
}

.competition-index-type-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.competition-item-title p, .competition-item-dates, .competition-item-date{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-height: 26.400px;
}
.competition-item-date{
    padding-left: 15px;
}