<div class="loader" *ngIf="!activeBrandingSections"></div>
<div class="branding-container animate-bottom" *ngIf="activeBrandingSections">
	<h5 *ngIf="disabled">
		This market does not contain a branding configuration and is using the global settings. <br /><br />
		To change the settings for this market switch to the global market and copy the configuration to this market.
	</h5>
	<branding-section [models]="activeBrandingSections" [disabled]="disabled" [brandingOptions]="brandingOptions"></branding-section>
</div>
