<div *ngIf="!selectedModel">
    <div>
        <div class="loader" *ngIf="!this.feedItems"></div>
                
        <div *ngIf="this.feedItems">
            <a (click)="editFeedItem()" mat-fab class="btn-top-right" color="" *ngIf="userPermissions.canCreate && currentMarket && !currentMarket.isLive" id="feed-index-item__btn-create">
                <i class="material-icons">add</i>
            </a>
            <div class="col-xs-12" *ngIf="this.feedItems.length === 0">
                <div class="col-xs-11 col-xs-offset-1">
                    <em>No items to display.</em>
                </div>
            </div>

            <div class='feed-index col-xs-12 animate-bottom' *ngIf="this.feedItems.length > 0">
                <div *ngFor="let feedItem of this.feedItems | paginate: {itemsPerPage: 20, currentPage:page, id: '1'}; let i = index" class="col-xs-12 index-feed-item">
                    <div class="col-xs-1">
                        <img src="/images/Icon-{{feedCats[feedItem.feedCategory]}}-b.png" class="feed-cat-img" *ngIf="feedItem.feedType!=feedTypes.Observation" />
                        <img src="/images/Icon-Observation-b.png" class="feed-cat-img" *ngIf="feedItem.feedType==feedTypes.Observation" />
                    </div>
                    <div class="col-xs-11 no-pad">
                        <div class="col-xs-8 no-pad">
                            <div class="col-xs-12 feed-item-title">
                                <h5 [innerHTML]="feedItem.title"></h5>
                            </div>
                            <div class="col-xs-12 feed-item-markets">
                                <div *ngIf="feedItem.markets">
                                    {{ feedItem.title }}
                                </div>
                            </div>
                            <div class="col-xs-12 feed-item-dates">
                                <div *ngIf="feedItem.publishedLiveAt" class="col-xs-4 no-pad date-posted feed-item-date">
                                    Date posted: {{ feedItem.publishedLiveAt | date:'short' }}
                                </div>

                                <div *ngIf="feedItem.updatedAt && feedItem.updatedAt!==feedItem.createdAt" class="col-xs-4 no-pad feed-item-date">
                                    Date modified: {{ feedItem.updatedAt | date:'short' }}
                                </div>

                                <div class="col-xs-4 no-pad feed-item-date">
                                    Date created: {{ feedItem.createdAt | date:'short' }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 feed-index-controls">
                            <div class="feed-control col-xs-3">
                                <!--<div>
                            <a onclick="alert('Feature coming soon.');">
                                <i class="material-icons">smartphone</i>
                                <p>Preview</p>
                            </a>
                        </div>-->
                            </div>
                            <div class="feed-control col-xs-3" [class.col-xs-offset-3]="currentMarket && currentMarket.isLive">
                                <div *ngIf="userPermissions.canEdit">
                                    <a (click)="editFeedItem(feedItem)" id="feed-index-item__btn-edit-{{i}}">
                                        <i class="material-icons">edit</i>
                                        <p>Edit</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-xs-3">
                                <div *ngIf="userPermissions.canDelete">
                                    <a (click)="deleteFeeditem(feedItem)" id="feed-index-item__btn-delete-{{i}}">
                                        <i class="material-icons">delete</i>
                                        <p>Delete</p>
                                    </a>
                                </div>
                            </div>
                            <div class="feed-control col-xs-3">
                                <div *ngIf="userPermissions.canCopyToMarket && currentMarket && !currentMarket.isLive && currentMarket.isMaster">
                                    <a (click)="copyFeedItemToMarket(feedItem)" data-toggle="modal" data-target="#feeditem-copytomarket" id="feed-index-item__btn-copy-to-market-{{i}}">
                                        <i class="material-icons">content_copy</i>
                                        <p>Copy</p>
                                    </a>
                                </div>
                                <div *ngIf="userPermissions.canPublishToLive && currentMarket && !currentMarket.isLive && !currentMarket.isMaster">
                                    <a (click)="publishFeedItemTolive(feedItem)" id="feed-index-item__btn-publish-{{i}}">
                                        <i class="material-icons">launch</i>
                                        <p>Publish</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <pagination-controls (pageChange)="page = $event" id="1"
                                     maxSize="20"
                                     directionLinks="true"
                                     autoHide="true">
                </pagination-controls>
            </div>

        </div>
        

    </div>
</div>

<feeditemform *ngIf="selectedModel" [model]="selectedModel" (feedUpdated)="feedItemUpdated($event)"></feeditemform>
<copytomarket [model]="selectedCopyToMarketModel" [contentType]="contentTypeEnum.Feed" [marketContentService]="feedDataService" 
              [modalId]="'feeditem-copytomarket'" [modalHeader]="'Copy to market'" [modalDescription]="''" 
              (updateItem)="selectedCopyToMarketModel = null"></copytomarket>
