<div class='container-fluid'>

        <div class="body-content">
            <div class='col-sm-2 content-col nav-col'>
                <nav-menu></nav-menu>
            </div>
            <div class='col-sm-10 content-col'>
                <div class="header-bar">
                    <div class="header-bar-content">
                        <div *ngIf="backButtonText" class="back-button">
                            <a (click)="goBack()"><i class="material-icons">reply</i> {{backButtonText}}</a>
                        </div>
                        <div class="col-md-8">
                            <h4 *ngIf="pageTitle!=''" class="page-title">
                                {{pageTitle}}
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <marketdropdown *ngIf="this.marketDropdownIsVisible" class="marketdropdown"></marketdropdown>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <tab-nav-menu></tab-nav-menu>
                <div class="router-content">
                    <router-outlet></router-outlet>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
</div>
<footer></footer>