.container-fluid {
    min-height: calc(100vh - 125px);
    padding-left: 0;
}
.header-bar {
    height: 100px;
}
.router-content {
    padding: 0 15px;
}
.body-content {
    overflow: hidden;
}
.content-col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.nav-col {
    padding-left: 0;
    padding-right: 0;
}

@media(min-width: 768px) {
    .nav-col {
        background-color: #333;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.349019);
    }
}

@media (max-width: 768px) {
    .nav-col {
        margin: 0 30px -99999px;
    }
    .container-fluid {
        padding-right: 0;
    }
}
html, a, p, span, div, input, td, li, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif!important;
}

li.current {
    background-color: #4F3A9F !important;
}
