<div class='container-fluid'>

        <div class="body-content">
            <div class='col-sm-2 content-col nav-col'>
                <nav-menu></nav-menu>
            </div>
            <div class='col-sm-10 content-col'>
                <div *ngIf="pageTitle!=''" class="header-bar">
                    <h2>
                        <span class="col-md-8">
                            {{pageTitle}}
                        </span>
                        <span class="col-md-4">
                            <marketdropdown *ngIf="this.marketDropdownIsVisible"></marketdropdown>
                        </span>
                    </h2>
                    <hr />        
                    <div class="clearfix"></div>            
                </div>
                <div class="router-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
</div>
<footer></footer>